<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">  
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore blanditiis dolores voluptatem provident ex hic repellendus esse, similique voluptate facere exercitationem labore porro nisi in distinctio iusto, rem, numquam recusandae.</p>

    <h2>Tareas</h2>
    <ul>
        {% for i in tarea %}
        <li> {{ i }} </li>
        {% endfor %}
    </ul>
</body>
</html>